<div class="container">
    <h1>Atualização do Cliente</h1>
    
    <div class="alert alert-warning" *ngIf="msg != null">{{msg}}</div>
    
    <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="onSubmit()" >
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="nome">Nome</label>  
        <div class="col-md-4">
        <input type="text" id="nome" name="nome" 
          formControlName="nome" class="form-control input-md" required>
          <span class="help-block" *ngIf="formGroup.controls.nome.errors && formGroup.controls.nome.dirty">
            Nome inválido</span>
        </div>
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="telefone">Telefone</label>  
        <div class="col-md-4">
          <input type="text" id="telefone" name="telefone" 
            formControlName="telefone" class="form-control input-md" required>
            <span class="help-block" *ngIf="formGroup.controls.telefone.errors && formGroup.controls.telefone.dirty">
              Telefone inválido</span>
      
        </div>
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email</label>  
        <div class="col-md-4">
          <input type="text" id="email" name="email" 
            formControlName="email" class="form-control input-md" required>
            <span class="help-block" *ngIf="formGroup.controls.email.errors && formGroup.controls.email.dirty">
              E-mail inválido</span>
  
  
        </div>
        
        
      </div>
      
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="Cadastrar"></label>
        <div class="col-md-4">
          <button id="Cadastrar" name="Cadastrar" class="btn btn-primary"  [disabled]="formGroup.invalid">Cadastrar</button>
        </div>
      </div>
      
   
      </form>
    </div>
      